/////// face cute jaune //////

.cute {
  background-color: #e9ea77;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 20px;
  .eye {
    height: 12px;
    width: 12px;
    border: solid 2px #297ca0;
    border-color: #297ca0 transparent transparent transparent;
    border-radius: 127%/30px 30px 0 0;
  }
  .eye.lefty {
    top: 13px;
    left: 9px;
  }
  .eye.righty {
    left: 29px;
    bottom: -1px;
  }
  .smile {
    width: 45px;
    height: 142px;
    border: solid 2px #297ca0;
    border-color: transparent transparent #297ca0 transparent;
    border-radius: 0 0 49px 105%/137px;
    position: relative;
    bottom: 124px;
    left: 3px;
  }
}


//////// face violette monster   ///////
.monster {
  background-color: #46185f;
  --alt-color: #297ca0;
  border-radius: 50% 50% 0 0;
  margin: 20px;
  height: 150px;
  width: 150px;
  .eye {
    height: 30px;
    width: 30px;
  }
  .eye.lefty {
    top: 60px;
    left: 40px;
  }
  .eye.righty {
    top: 30px;
    left: 96px;
  }
  .teeth {
    display: flex;
    justify-content: center;
    position: relative;
    top: 48px;
  }
  .tooth {
    background-color: #e9ea77;
    height: 20px;
    width: 10px;
    border-radius: 0 0 100% 100%;
    margin: 0 5px;
  }
}

/////// face bleue ghost ///////
.ghost {
  background-color: #297ca0;
  --alt-color: #e9ea77;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100px 100px 0 0;
  .eye.lefty {
    top: 17px;
    left: 11px;
  }
  .eye.righty {
    top: 7px;
    left: 29px;
  }
  .eye {
    border: solid 3px #46185f;
    height: 10px;
    width: 10px;
  }
}
