////// triangle smile ///////
.triangle-purple {
  border-color: transparent #46185f;
  --alt-color: #297ca0;
  border-style: solid;
  border-width: 24px 0px 100px 70px;
  height: 0px;
  width: 0px;
  .eye {
    border: solid 2px #e9ea77;
    height: 15px;
    width: 8px;
    /* border: groove; */
    border-radius: 50%;
  }
  .eye.lefty {
    bottom: 0px;
    right: 38px;
    transform: rotate(-15deg);
  }
  .eye.righty {
    bottom: 15px;
    right: 25px;
    transform: rotate(-15deg);
  }
  .smile {
    width: 31px;
    height: 142px;
    border: solid 2px #e9ea77;
    border-color: transparent transparent #e9ea77 transparent;
    border-radius: 0 0 43px 267%/200px;
    position: relative;
    bottom: 124px;
    right: 63px;
  }
}

////// fat triangle lunettes ////////////
.triangle-blue {
  --alt-color: #e9ea77;
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 110px solid #297ca0;
  .eye.lefty {
    top: 17px;
    right: 11px;
  }
  .eye.righty {
    top: 7px;
    left: 1px;
  }
  .eye {
    border: solid 3px #46185f;
    height: 10px;
    width: 10px;
  }
}

/////////// yellow little triangle with moustaches /////////
.triangle-yellow {
  border-color: #e9ea77 transparent;
  border-style: solid;
  border-width: 80px 50px 0px 50px;
  height: 0px;
  width: 0px;
  .eye {
    background-color: #46185f;
    border: solid 2px #46185f;
    height: 20px;
    width: 0;
  }
  .eye.lefty {
    bottom: 67px;
    right: 7px;
    transform: rotate(-15deg);
  }
  .eye.righty {
    bottom: 87px;
    left: 6px;
    transform: rotate(15deg);
  }
  .moustache {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 71px;
    right: 20px;
    width: 39px;
  }
  .hair {
    background-color: #46185f;
    height: 17px;
    width: 15px;
    border-radius: 0 0 70% 100%;
  }
}
