@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
@import "first-row";
@import "second-row";

// colors : #e9ea77 #46185f #297ca0

body {
  background-color: #bbbbbb;
  font-family: 'Nova Mono', monospace;
}

.banner-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #46185f;
  text-align: center;
  margin-left: 30px;
  max-height: 300px;
}

.monsters {
  //background-color: grey;
}

.eye {
  background-color: var(--alt-color);
  position: relative;
}

.round {
  border-radius: 50%;
}


