@import "first-row";
@import "second-row";



body {
  background-color: #bbbbbb;
}

.eye {
  background-color: var(--alt-color);
  border-radius: 50%;
  position: relative;
}


.teeth {
  display: flex;
  justify-content: center;
  position: relative;
  top: 48px;
}

.tooth {
  background-color: #e9ea77;
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  margin: 0 5px;
}
